<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<%= render @student %>

<div>
  <%= link_to "Edit this student", edit_student_path(@student), :class => "btn btn-primary" %> |
  <%= link_to "Back to students", students_path, class: "btn btn-dark" %>

  <%= button_to "Destroy this student", @student, method: :delete, class: "btn btn-danger mt-3" %>
</div>
